.lvl1{
    left: 65px;
    bottom: 190px;
}
.lvl2{
    right:20px ;
    bottom: 305px;
}
.lvl3{
    left: 130px;
    top: 353px;
}
.lvl4{
        right: 19px;
    top: 156px;
}
.lvl5{
    right: 159px;
    top: 27px;
}
.levelsBg{
    left: -32px;
}
.depth{
   background-color: rgba(10, 21, 15, 0.383);
background-blend-mode: multiply;
width: 100%;
height: 100%;
}