.loadingFanous{
    width: 149.632px;
height: 185px;
    flex-shrink: 0;
    background-image: url(./../assets/fanous_empty.png);
    z-index: 4;
    background-position: center;
    background-size: cover;
      animation: loading 3s ease-in-out infinite;

}
.bg2{
    filter: blur(4px);
}
.depth2{
    background: rgba(0, 0, 0, 0.74);
}
@keyframes loading {
  0%{
    transform: rotate(0deg);
        background-image: url(./../assets/fanous_full.png);
   
  }
    /* 15%{
    transform: rotate(0deg);
        background-image: url(./../assets/fanous_full.png);
   
  } */
  25%{
  
    transform: rotate(90deg);

        background-image: url(./../assets/fanous_half.png);

  }
  /* 35%{
  
    transform: rotate(90deg);

        background-image: url(./../assets/fanous_half.png);

  } */
  50%{
    transform: rotate(180deg);

       background-image: url(./../assets/fanous_empty.png);
  }
   100%{
    transform: rotate(360deg);

        background-image: url(./../assets/fanous_full.png);

  }
}
