.menuPanel{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 709px;
    width: 100%;
    background-size: 100% 100%;
    max-width: 355px;
    gap: 10px;
    padding: 68px 20px 134px 20px;
    background-image:url(./../assets/menuPanel.png)
}
.menuPanel ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
    list-style-type: none;
}
.panelChar{
    width: 188px;
bottom: 20px;
}
.pausePanel{
    padding-top: 102px;
    gap:0
}
.pausePanel h1{
    line-height: 90%;
}
.btnsFlex{
    display: flex;
    width: 100%;
    max-width: 249px;
    height: 56px;
    justify-content: space-between;
    align-items: center;
}
.textFlex{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
input{
    border: transparent;
    background-color: transparent;
    color: #DFD5E2;
    font-size: 20px;
    display: flex;
        padding: 0 5px;
    width: 123px;
        /* text-align: center;
    padding: 4px;
    line-height: 90%;
    width: 20%;
    border-bottom: 1px solid; */
}
form{
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width:249px;
}
.submitbtn{
    font-size: 18px;
    text-decoration: underline;
    align-self: flex-start;
    color: #DFD5E2;
    background-color: transparent;
}
.iconSettings{
    width: 53.68px;
height: 55.481px;
background-size: 100% 100%;

}
.howtoFlex{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    gap: 20px;
    padding: 0 35px;
    gap: 5px;
}
.chacrCont{
    height: 120px;
    display: flex;
    align-items: center;    
    justify-content: center;
    margin-bottom: 20px;
}
    