.prewinChar {
    position: absolute;
    z-index: 5;
}

.prewinNarration {
    width: 238px;
    height: 99px;

    padding: 0 18px 10px;
justify-self: start;
    justify-content: center;
    align-items: center;

    line-height: 90%;
    position: absolute;
    top: 170px;
    transition: opacity 0.5s ease;
}

/* ===========================
   CHARACTER STATES
=========================== */

.flyingCharacter {
    /* bottom: 180px;
    left: -120px; */

    width: 220px;

    animation:
        /* flyAcross 3s ease-in-out forwards, */
        float 2s ease-in-out infinite;
}

.standingCharacter {
    /* bottom: 160px;
    left: 40px; */

    width: 160px;
    animation:
        characterAppear 0.8s ease forwards,
        float 2.5s ease-in-out infinite;
}

/* ===========================
   CHARACTER ANIMATIONS
=========================== */

@keyframes flyAcross {
    from {
        transform: translate(0, 40px) rotate(-12deg);
    }

    to {
        transform: translate(130px, -40px) rotate(0deg);
    }
}

@keyframes characterAppear {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-8px);
    }

    100% {
        transform: translateY(0px);
    }
}

/* ===========================
   MOSQUE ANIMATION
=========================== */

.mosqueBg {
    transform: translateX(0);
}

@keyframes mosqueJourney {
    0% {
        transform: translateX(0);
    }

    100% {
        transform:
            translateX(-1000px)
            translateY(-150px);
    }
}

@keyframes mosqueBreathing {
    0% {
        transform:
            translateX(-1000px)
            translateY(-150px)
            scale(1);
    }

    50% {
        transform:
            translateX(-1000px)
            translateY(-150px)
            scale(1.08);
    }

    100% {
        transform:
            translateX(-1000px)
            translateY(-150px)
            scale(1);
    }
}
.mosque1Anim {
    animation:
        mosqueJourney 8s ease-in-out forwards,
        mosqueBreathing 14s ease-in-out 8s forwards;
}