.prewinChar{
        width: auto;
    /* height: auto; */
    /* height: 338px; */
    /* margin: 20px 0 110px 0; */
    top: 5px;
    display: block;
    justify-self: flex-end;
    align-self: flex-start;
}
.prewinNarration{
    width: 238px;
height: 99.571px;
padding: unset;
justify-content: center;
align-items: center;
margin-bottom: 20px;
line-height: 90%;
padding-bottom: 10px;
}
.mosqueBg{
    transform: translateX(0px);
}
@keyframes mosque1Anim {
  0%   { 
    transform: translateX(0px) }
  50%  { 
    transform:  translateX(-1000px)
  
  }
     56%  { 
    transform: translateX(-1000px) translateY(-150px);
    scale: 1.2;

  }
  100%{
        transform: translateX(-1000px) translateY(-150px);

    scale: 1;
  }
}
.mosque1Anim{
  scale: 1.2;
  animation: mosque1Anim 10s cubic-bezier(0.550, 0.085, 0.680, 0.530) both  ;
}