.slide{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.scaleStory{
  animation: scaleStory 4000ms ease-in-out both ;
}
@keyframes scaleStory{
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 1;
  }
}
.narration{
    padding: 28px;
    display: flex;
    flex-direction: column;
    background-position: center;
    background-size: 100% 100%;
    width: 392px;
    height: 164px;
    background-image: url(./../assets/narrativebg.png);
    color: #FFE6CB;
    text-align: right;
    font-family: Mirza;
    font-size: 24px;
    font-weight: 400;
    line-height: 119%; 
    margin-bottom: 100px;
    z-index: 999;
}
.narration .startBtnCont{
    position: absolute;
    top: 70%;
    right: 10px;
}
.scaleStory2{
  animation: scaleStory2 6000ms ease-in-out both ;
}
@keyframes scaleStory2{
  0% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    top: 0;
  }
  50% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
    opacity: 1;
     top: 0;
  }
  80% {
    -webkit-transform: scale(3.5);
            transform: scale(3.5);
             top: 700px;
             left: 20px;
             opacity: 1;
  }
  100% {
    -webkit-transform: scale(3.5);
            transform: scale(3.5);
             top: 700px;
             opacity: 0;

             left: 20px;
  }
}
.light2{
  width: 430px;
  height: 932px;
  top: 0;
  background-color: #100d0dcb;
mix-blend-mode: multiply;
filter: blur(3px);
z-index: 6;
}
.fadeOut{
  animation: fadeOut 800ms cubic-bezier(0.550, 0.085, 0.680, 0.530) both ;
}
@keyframes fadeOut{
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.scaleStory3{
  animation: scaleStory3 2000ms ease-in-out both ;
}
@keyframes scaleStory3{
  0% {
     scale: 2.5 ;
      top:280px ;
      left:-27px 
  }
  100% {
     scale: 1 ;
      top:0px ;
      left:0;
  }
}
.scaleStory4{
  animation: scaleStory4 2000ms ease-in-out both ;
}
@keyframes scaleStory4{
  0% {
     scale: 1.5;
  }
  100% {
     scale: 1 ;
  }
}
.narration2{
  margin-bottom: 600px;
  margin-bottom: 600px;
    height: 580px;
}
@keyframes scaleStory5{
  0% {
     scale: 1.1;
  }
  100% {
    top: -80px;
     scale: 1.2 ;
  }
}
.scaleStory5{
  animation: scaleStory5 2500ms ease-in-out both ;
}
.narration3{
  height: 132px;
}
.scaleStory6{
  animation: scaleStory6 8000ms ease-in-out both ;
}
@keyframes scaleStory6{
  0% {
     scale: 1.1;
    top: -50px;
left: 0;
  }
  100% {
       left: -70px;
    scale: 2;
    top: -206px;
  }
}
.scaleStory7{
  animation: scaleStory7 5000ms ease-in-out both ;
}
@keyframes scaleStory7{
  0% {
    top: 10px;
  }
  100% {
    top: 80px;
  }
}