.charWin{
transform-origin: bottom;
  animation: charSplash2 1000ms ease-in-out both ;

}
.charWin, .winRays {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
}
.winPanel{
    background-image: url(./../assets/winpanel.png);
    z-index: 2;
    top: 16%;
    gap: 0;
    justify-content: start;
}
.winDepth{
    z-index: 3;
}
.winTypo{
  width: 228.18px;
position: relative;
height: 145px;
/* animation: unset; */
    animation: splashLogo2 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.winTypo .top{
  position: absolute;
  top: 10px;
  left: 0;
}
.winStars{
  width: 116px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 30px;
}
.starsmall{
  width: 44px;
  height: 44px;
}
.starbig{
  width: 65px;
  height: 65px;
}
.winCounters{
    margin: 20px 0 25px  0;
}
.winBtnFlex{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px 0 0 0;
}
.losePanel{
  top: 12%;
  background-image: url(./../assets/losepanel2.png);
}